
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");


* {
    box-sizing: border-box;
}

body {
  background-color: #1D2537;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  color: aliceblue;
  height: 200px;

}

header {
  background-color: #373b69;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  
  
}

.btn1 {
  background-color: #4b5279;
  border-radius: 10px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 10px 16px;
  position: relative;
  text-align: center;

}
.btn1:hover,
.btn1:focus {
  background-color: #3e4464;
}

.wordNumber {
  font-size: 18px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  
}

.text-box{
  height: 200px;
  width: 1000px;
  border-radius: 8px;
  background-color : #2d3b5a;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.wordText {
  text-align: center;
  padding: 100px;
  height: 200px;
  color: white;
  font-size: 18px;
  
}

